.col-md-8,
.col-lg-9 {
  display: flex;
  flex-direction: column;
}
.card {
  width: 70%;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 15%;
  margin-bottom: 20px;
  background-color: #ffffff;
}
.card-body {
  padding: 20px;
  background-color: rgb(255, 255, 255);
}
iframe {
  width: 100%;
  height: 450px;
  border: none;
  border-radius: 8px;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.card h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.avatar-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.aContiner a{
  text-decoration: none;
  color: black;
  font-size: 15px;
  text-align: left;
  font-weight:bold ;
}
.aContiner{
  margin-right: 56%;
  margin-bottom: 10px;
}
.aContiner a:hover{
  color: rgb(43, 103, 255);
}
.bg-white {
display: flex;
margin-top: 30px;
}
.bg-white div{
  margin-right: 20px;
}
.Share {
  margin-left: 58%;
}
.Like,.Share,.Comment,.View {
  min-width: 150px;
}
.Like{
  min-width: 100px;
  color: blue;
}
.Like:hover,.Share:hover,.Comment:hover,.View:hover{
  color: blue;
  cursor: pointer;
}
