.pageFooter{
    background-color: white;

    height: 25%;
    border-style: solid;
    border-width: 0px;
    border-radius: 5px;

    
    margin-left: 10px;
    margin-right: 10px;
}
.pageFooter footer{
    margin-top: 5px;
}
.store-logo{
    width: 10%;
}
