.card{
    width: 10rem;
    height: 13.1rem;
}
.card-title{

    font-size: 0.7rem;

}


.rounded-circle {
    border-radius: 5% ;
}
.card-text{
    margin-bottom: 3px;
    margin-top:7px ;
    margin-left: 1px;
    margin-right: 5px;
}